@import '~@angular/material/theming';

.icon {
  padding: 0 12px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  align-items: center;
}

.text-hovered:hover {
  color: lightblue;
}

.cursor-pointer {
  cursor: pointer;
}
