<div class="content" role="main">

  <div fxLayout="column" fxLayoutAlign="space-around center">
    <h1><b>Driver Location</b></h1>
    <p class="description">Hi Anika, this map lets you find out where your drivers currently are. Click on a marker on
      the map to
      display the information of the respective driver below. </p>
  </div>

  <!-- Display map (https://github.com/angular/components/tree/master/src/google-maps#readme) -->
  <div *ngIf="apiLoaded | async" class="map">
    <google-map [options]="options" width="100%">
      <map-marker
        *ngFor="let driver of driversDisplayed"
        [position]="{lat: driver.location[0], lng: driver.location[1]}"
        [label]="driver.driverName"
        [title]="driver.driverPhone"
        (mapClick)="clickMarker(driver)">
      </map-marker>
    </google-map>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center">
    <h2>Driver Overview</h2>
    <p class="description">The driver and their respective information can be search by their the name of the
      driver.</p>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search an driver</mat-label>
        <label>
          <input matInput placeholder="Search..." value="" [(ngModel)]="searchTerm" (keyup)="search()"
                 name="search">
        </label>
      </mat-form-field>
    </form>
  </div>

  <div class="drivers">

    <!-- Display all drivers with ngFor -->
    <mat-card *ngFor="let driver of driversDisplayed; let i = index">
      <button class="driver-placement" mat-mini-fab color="primary" aria-label=" icon">
        {{i + 1}}.
      </button>
      <h3><b>{{driver.driverName}}</b></h3>
      <ul>
        <li>Goal Reached: {{driver.goalCompletionPercent}} %</li>
        <li>State: {{driver.goalState}}</li>
        <li>Language: {{driver.driverLanguage}}</li>
        <li>License Plate: {{driver.licensePlate}}</li>
        <li>Driven: {{driver.kmDriven}} km</li>
      </ul>
      <a href="tel:{{driver.driverPhone}}">
        <button mat-raised-button color="primary">
          <mat-icon class="icon" aria-hidden="false" aria-label="Avatar">call</mat-icon>
          {{driver.driverPhone}}
        </button>
      </a>
    </mat-card>
  </div>
</div>
