<div class="content" role="main">

  <!-- Display map (https://github.com/angular/components/tree/master/src/google-maps#readme) -->
  <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="apiLoaded | async">
    <google-map [options]="options">
      <map-marker
        *ngFor="let driver of driversDisplayed"
        [position]="{lat: driver.location[0], lng: driver.location[1]}"
        [label]="driver.driverName"
        [title]="driver.driverPhone"
        (mapClick)="clickMarker(driver)">
      </map-marker>
    </google-map>
  </div>

  <div class="header">
    <h1>Driver Overview</h1>
    <p class="description">Hi Anika, here you can get an overview of the drivers that you manage.</p>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search an driver</mat-label>
        <label>
          <input matInput placeholder="Search..." value="" [(ngModel)]="searchTerm" (keyup)="search()"
                 name="search">
        </label>
      </mat-form-field>
    </form>
  </div>

  <div class="drivers">

    <!-- Display all drivers with ngFor -->
    <mat-card *ngFor="let driver of driversDisplayed; let i = index">
      <button class="driver-placement" mat-mini-fab color="primary" aria-label=" icon">
        {{i + 1}}.
      </button>
      <h3><b>{{driver.driverName}}</b></h3>
      <ul>
        <li>Home Country: {{driver.driverCityOrigin}}</li>
        <li>Language: {{driver.driverLanguage}}</li>
        <li>Attributes: {{driver.driverInfo}}</li>
        <li>License Plate: {{driver.licensePlate}}</li>
        <li>Kilometers Driven: {{driver.kmDriven}} km</li>
      </ul>
      <a href="tel:{{driver.driverPhone}}">
        <button mat-raised-button color="primary">
          <mat-icon class="icon" aria-hidden="false" aria-label="Avatar">call</mat-icon>
          {{driver.driverPhone}}
        </button>
      </a>
    </mat-card>
  </div>
</div>
